// VARIABLES

// Colors
$buttercup: #f3a713;
$cinnabar: #e4572e;
$sprout: #c5d9af;
$hippieblue: #659bbd;
$rhino: #2a345c;
$rhino-dark: #091544;
$white: #fff;
$black: #000;

// MIXINS
@mixin flex-row-wrap {
    display: flex;
    flex-flow: wrap;
}

@mixin flex-col {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

// ANIMATIONS

@keyframes swing {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(2%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes fly {
    0% {
        opacity: 0.5;
    }

    90% {
        opacity: 100%;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fly1 {
    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 100%;
    }
}

// BASE STYLES
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //This define 1 rem. And 1 rem = 10px
    font-size: 62.5%; // 10px/16px = 62.5%
    /*   scroll-behavior: smooth;

    @media (prefers-reduced-motion: reduce) {
      scroll-behavior: auto;
    } */
}

html,
body {
    height: 100%;
    background-color: $rhino;
    font-family: "Barlow Condensed", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

// TIPOGRAPHY
.primary__heading {
    font-family: "Contrail One", cursive;
    color: $cinnabar;
    font-size: 8rem;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 50em) {
        font-size: 12rem;
    }

    @media screen and (min-width: 69em) {
        font-size: 16rem;
    }

    @media screen and (min-width: 87em) {
        font-size: 20rem;
    }
}

.secondary__heading {
    font-family: "Contrail One", cursive;
    color: $rhino;
    font-size: 2.6rem;
    text-transform: uppercase;
}

.tertiary__heading {
    font-family: "Contrail One", cursive;
    color: $rhino;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-top: 1rem;
}

.quaternary__heading {
    font-family: "Contrail One", cursive;
    color: $cinnabar;
    font-size: 2.3rem;
    text-transform: capitalize;
    margin-top: 1rem;

    &::after {
        content: "";
        display: block;
        width: 60%;
        height: 6px;
        border-radius: 5px;
        background-color: $cinnabar;
    }
}

// BUTTONS
.btn__primary {
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: $cinnabar;
    color: $rhino-dark;
    display: inline-block;
    margin-left: auto;
    border-radius: 5px;
    font-size: inherit;

    &:focus,
    &:hover {
        box-shadow: 0 0 0 5px $rhino-dark;
    }
}

.btn__primary--dark {
    background-color: $rhino-dark;
    color: $cinnabar;
}

.btn__primary--light {
    background-color: $buttercup;
    color: $rhino-dark;
}

.btn__submit {
    background-color: $buttercup;
    color: $rhino-dark;
    padding: 1.5rem;
    border: none;
    border-radius: 5px;

    &:focus,
    &:hover {
        box-shadow: 0 0 0 5px $cinnabar;
    }
}

// NAVIGATION
.navigation {
    font-size: 2.4rem;

    &__logo {
        width: 80px;
        margin: 0 0.5rem;
    }

    &__nav {
        @include flex-row-wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        text-decoration: none;
        display: inline-block;
        padding: 0.5rem;

        &,
        &:visited {
            color: $rhino;
        }

        &:focus,
        &:hover {
            text-decoration: underline;
        }

        &:active {
            color: $cinnabar;
        }
    }

    &__menu {
        transition: all 0.2s ease-out;
        max-height: 0;
        overflow: hidden;
        background-color: $buttercup;

        &--active {
            padding: 2rem;

            max-height: 50%;
            overflow: hidden;
        }
    }

    &__list {
        text-align: center;
        list-style-type: none;
        padding: 0;
    }

    &__button {
        position: relative;
        background-color: transparent;
        border: none;
        margin-right: 2rem;
    }

    &__button--active &__icon {
        background-color: transparent;
    }

    &__button--active &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__button--active &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }

    &__icon {
        &,
        &::after,
        &::before {
            display: inline-block;
            width: 4rem;
            height: 5px;
            background-color: $buttercup;
            transition: all 0.2s;
            border-radius: 1rem;
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 0;
        }

        &::before {
            top: -1rem;
        }

        &::after {
            top: 1rem;
        }
    }
}

// HEADER
.header {
    position: relative;

    &__wrapper {
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 150%;
        vertical-align: middle;
        overflow: hidden;

        @media screen and (min-width: 31.25em) {
            padding-bottom: 62.5%;
        }
    }

    &__image,
    &__image--big {
        display: block;
        position: absolute;
        top: 0;
        left: 0;

        @media screen and (min-width: 31.25em) {
            display: none;
        }
    }

    &__image--big {
        display: none;

        @media screen and (min-width: 31.25em) {
            display: block;
        }
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media screen and (min-width: 31.25em) {
            top: 30%;
        }
    }

    &__sub {
        color: $cinnabar;
        font-family: "Sonsie One", cursive;
        font-size: 2rem;
        text-align: center;

        @media screen and (min-width: 50em) {
            font-size: 4rem;
        }
    }
}

#cloudleftup,
#nuvolasxup {
    animation: 4s linear infinite swing;
}

#nuvoladxup {
    animation: 4s linear infinite swing;
}

#cloudleftdown,
#nuvolasxdown,
#nuvoladxdown {
    animation: 4s linear 1s infinite reverse swing;
}

#littlebird,
#littlebird2 {
    opacity: 0;
    animation: 1s linear 0.5s fly;
}

#mediumbird,
#mediumbird2 {
    opacity: 0;
    animation: 1s linear 1.5s fly;
}

#bigbird,
#bigbird2 {
    opacity: 0;
    animation: 1s linear 2.5s fly;
}

#biggerbird,
#biggerbird2 {
    opacity: 0;
    animation: 1s linear 3.5s fly1 forwards;
}

// About
.about {
    background-color: $cinnabar;
    @include flex-col;
    padding: 2rem 1rem;

    &__wrapper {
        @media screen and (min-width: 31.25em) {
            max-width: 80%;
            margin: auto;
        }
    }

    &__content {
        font-size: 2rem;
        color: $white;
        border-left: 8px solid $rhino;
        padding: 1rem;
    }

    &__text {
        color: $rhino-dark;
        margin-top: 2rem;

        @media screen and (min-width: 75em) {
            -webkit-column-count: 3; /* Old Chrome, Safari and Opera */
            -moz-column-count: 3; /* Old Firefox */
            column-count: 3;
        }
    }

    &__image {
        width: 280px;
        margin: auto;
    }
}

// FEATURES
.features {
    color: $rhino-dark;
    font-size: 2rem;
    margin: 4rem 0;

    @media screen and (min-width: 31.25em) {
        max-width: 80%;
        margin: 4rem auto;
    }

    &__box {
        @include flex-row-wrap;
        justify-content: space-evenly;
        margin-bottom: 2rem;
    }

    &__content {
        margin-bottom: 1rem;
        padding: 2rem 1rem;
        flex: 1;
        overflow: hidden;

        @media screen and (min-width: 31.25em) {
            max-width: 60%;
            border-radius: 10px;
        }

        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 8px;
            transform: translateX(-2rem);
            background-color: $rhino;
        }
    }

    &__content,
    &__motto {
        background-color: $cinnabar;
    }

    &__content--light,
    &__motto--light {
        background-color: $buttercup;
    }

    &__content--light {
        &::before {
            background-color: $cinnabar;
        }

        /*  border-top-right-radius: 10px;
        border-bottom-right-radius: 10px; */
    }
    &__content--lightborder {
        &::before {
            background-color: $buttercup;
        }
    }

    &__content--darkboder {
        &::before {
            background-color: $rhino;
        }
    }

    &__motto {
        text-transform: uppercase;
        font-size: 4rem;
        text-align: center;
        padding: 1rem;
        flex: 100%;
        column-width: 80%;
        /*     border-top-left-radius: 10px;
        border-bottom-left-radius: 10px; */
        @media screen and (min-width: 31.25em) {
            max-width: 20%;
            border-radius: 10px;
        }
    }

    &__text {
        margin: 1rem 0;
        column-width: 250px;
    }

    &__logo {
        max-width: 15rem;
    }

    &__logo--seed {
        max-width: 8rem;
    }

    &__box--reverse &__motto {
        order: -1;
        margin-bottom: 2rem;
    }
}

// BLOG
.blog {
    @include flex-row-wrap;
    font-size: 2rem;
    margin: 4rem 0;
    justify-content: space-evenly;

    @media screen and (min-width: 31.25em) {
        max-width: 80%;
        margin: 4rem auto;
    }

    &__post {
        background-color: $cinnabar;
        color: $rhino-dark;
        margin: 1rem;
        border-radius: 10px;
        padding: 3rem 1rem;
        position: relative;

        @include flex-col;

        @media screen and (min-width: 44em) {
            margin: 1rem 0.5rem;
            max-width: 40%;
        }

        &::before,
        &::after {
            content: "";
            display: block;
            width: 60%;
            height: 8px;
            background-color: $buttercup;
            position: absolute;
        }

        &::before {
            left: 0;
            top: 1rem;
            border-radius: 0 10px 10px 0;
        }

        &::after {
            right: 0;
            top: 2rem;
            border-radius: 10px 0 0 10px;
        }
    }

    &__text {
        font-size: inherit;
        margin-bottom: 2rem;
    }

    &__btn {
        margin-top: auto;
    }
}

// CONTACTS
.contacts {
    font-size: 2rem;
    color: $sprout;
    @include flex-row-wrap;
    background-color: $rhino-dark;
    padding: 2rem 2rem;
    margin-top: 4rem;
    justify-content: center;

    &__box {
        flex: 1;
        margin: 1rem;
        margin-left: 3rem;
        flex-basis: 22rem;
        max-width: 45rem;
        padding: 2rem;
    }

    &__item {
        margin: 1rem 0;
    }

    &__link {
        text-decoration: none;

        &:link,
        &:visited {
            color: $buttercup;
        }

        &:focus,
        &:hover {
            text-decoration: underline;
        }

        &:active {
            color: $cinnabar;
        }

        &--bright {
            &:link,
            &:visited {
                color: $sprout;
            }
        }
    }

    &__links {
        color: $buttercup;
    }

    &__input {
        border: none;
        padding: 1.5rem;
        border-radius: 5px;
        font-family: inherit;
        width: 70%;
        margin: 1rem 0;
    }

    &__mailing {
        padding: 1rem 0;
    }

    &__icon {
        fill: $buttercup;
        stroke: $buttercup;
        width: 6rem;
        display: inline-block;
        margin: 1rem;

        &:hover {
            fill: $cinnabar;
            stroke: $cinnabar;
        }
    }
}

// CREDITS
.credits {
    font-size: 2rem;
    font-family: inherit;
    padding: 2rem;
    color: $sprout;
    background-color: $rhino;

    &__link {
        &:link,
        &:visited {
            color: $buttercup;
        }

        &:focus,
        &:hover {
            text-decoration: none;
            color: $cinnabar;
        }
    }
}

